/* Footer */

.foot {
  width: 100%;
  background-color: var(--navbar);
  color: var(--subtle);
  margin-top: auto;
}

.foot__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.foot__list {
  text-align: end;
}

.foot__text {
  font-size: 0.875rem;
  list-style-type: none;
}

.foot__email {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 810px) {

  .foot__container {
    flex-direction: column;
  }

  .foot__list {
    text-align: center;
  }

}