:root {
  --primary: #172554;
  --secondary: #1d4ed8;
  --foreground: #f5f5f5;
  --background: #ffffff;
  --header-text: #0f1728;
  --body-text: #555555;
  --navbar: #0f1728;
  --subtitle: #707070;
  --subtle: #a3b0c8;

  --border: 0.5rem;
  --shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  /* Treating the body as a flexbox allows our footer to utilize 'margin-top: auto'*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Typography */

p {
  line-height: 1.5;
  color: var(--body-text);
}

p+p {
  margin-top: 0.625rem;
}

/*
 Cambria    83% Windows   35% Mac
 Georgia    99% Windows   97% Mac 
*/
h1,
h2 {
  font-family: Cambria, Georgia, serif;
  color: var(--header-text);
}

/* Layout */

.container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 1rem 6rem;
  gap: 3rem;
  width: 100vw;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rows {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

/* Link Buttons */

.link-button {
  display: inline-block;
  /* Required so that the parent respects the link's height with padding */
  background-color: var(--primary);
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-radius: var(--border);
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.link-button--wide {
  width: 100%;
}

.title {
  /* Typically applied to h1s, but is used on the "What Our Customers Say" h2 */
  font-size: 2rem;
  /* margin-top: 3rem; */
  color: var(--header-text);
  margin-bottom: 2rem;
  text-align: center;
}

@media (max-width: 810px) {
  .rows {
    flex-direction: column;
  }

  .container {
    gap: 2rem;
  }

  .title {
    font-size: 1.75rem;
  }
}