/* Navbar */

.navbar {
  width: 100%;
  height: 5rem;
  background-color: var(--navbar);
  color: white;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  /* For mobile view */
  max-width: 1200px;
  margin: 0 auto;
}

.navbar__logo {
  height: 3rem
}

.navbar__list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar__element {
  height: fit-content;
}

.navbar__link {
  display: inline-block;
  /* Required so that __element respects the link's height with padding */
  color: inherit;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border-radius: var(--border);
  margin: 0 0.5rem;
}

.navbar__link--active {
  background-color: var(--secondary);
}

.navbar__link:hover:not(.navbar__link--active),
.products-dropdown:hover .navbar__element {
  background-color: var(--primary);
}

.products-dropdown:hover .navbar__link {
  background-color: var(--primary);
}

.navbar__link--hidden {
  display: none;
}

.navbar__mobile-view {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem 0.5rem;
}

.navbar__hamburger-line {
  width: 100%;
  background-color: white;
  height: 2px;
}

.dropdown-arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent #a3b0c8 transparent;
  transform: rotate(180deg);
}

.products-dropdown {
  position: relative;
  /* display: inline-block; */
}

.products-dropdown:hover .products-dropdown__content {
  display: block;
}

/* Change color of dropdown links on hover */
.products-dropdown__content a:hover {
  background-color: #ddd;
}

.products-dropdown__content {
  display: none;
  position: absolute;
  background-color: var(--foreground);
  list-style-type: none;

  min-width: 6.5rem;
  width: 100%;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* border-bottom-left-radius: var(--border);
  border-bottom-right-radius: var(--border); */
}

.products-dropdown__content a {
  font-weight: bold;
  display: block;
  padding: 1rem;
  color: var(--primary);
  text-decoration: none;
  position: static;
}

.open {
  display: flex;
}

/* @media (min-width: 810px) {
  .navbar__list {
    display: flex;
  }
} */

@media (max-width: 810px) {
  .navbar {
    height: 100%;
  }

  .navbar__container {
    flex-direction: column;
    align-items: start;
  }

  .navbar__hamburger {
    display: flex;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  .navbar__list.open {
    display: flex
  }

  .navbar__link {
    text-align: center;
    padding: 0.75rem;
    width: 100%;
    margin-left: 0;
  }

  .products-dropdown__content {
    display: none;
    position: static;
  }
}