.product-container {
  height: 26rem;
  width: 100%;
  background-color: var(--foreground);
  border-radius: var(--border);
  margin: 0 auto;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem
}

/* .product-wrapper {
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  padding: 2rem 1rem;
  gap: 2rem;
} */

.product-container:nth-child(odd) {
  background-color: var(--background);
}

.product__image {
  max-width: 100%;
  height: 100%;
  filter: drop-shadow(var(--shadow));
}

.product__details {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.product__title {
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  text-align: center;
}

.product__description:has(+ .link-button--product) {
  margin-bottom: 1.5rem;
}

.link-button--product {
  margin-top: auto;
  width: fit-content;
}

@media (max-width: 860px) {
  .product-container {
    height: fit-content;
    padding: 1rem;
  }

  .product__image {
    max-height: 20rem;
  }

  .product__details {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .link-button--product {
    width: 100%;
    text-align: center;
  }
}